.navbaar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 7%;
    transition: 0.5s;
}
.logo{
    width: 160px;
    cursor: pointer;
}

ul li{
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 25px;
}

ul{
    list-style: none;
    text-align: center;
    flex: 1;
}

.toggle-icon{
    width: 45px;
    margin-left: 40px;
    cursor: pointer;

}
.search-box{
    display: flex;
    align-items: start;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    transition: 0.5s;
}

.search-box  input{
    background: transparent;
    padding: 6px;
    color: #fff;
    border: 0;
    outline: 0;
    font-size: 18px;
    max-width: 200px;
    transition: 0.5s;
}

.search-icon{
    width: 20px;

    padding-top: 8px;
}
.dark .navbaar{
    background: #000;
    color: #fff;
}

.dark .search-box{
    background: #fff;
}

.dark .search-box  input{
    color: #222;
}
.dark .search-box input::placeholder{
    color: #222;
}
